<h1>Ask your question to your coach</h1>

<div class="w-50">
  <form action="/answer" method="get" data-turbo="false">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="Ask your question here..">
      <input type="submit" value="Ask!" class="btn btn-outline-secondary" type="button" id="button-addon2">
    </div>
  </form>
</div>